
@font-face {
    font-family: 'Average Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/averagesans/v9/1Ptpg8fLXP2dlAXR-HlJJNJ_AtCb71ka4Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
 
  @font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/dmsans/v6/rP2Hp2ywxg089UriCZOIHTWEBlw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

 
@font-face {
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inriasans/v2/ptRMTiqXYfZMCOiVj9kQ1On4KCFtpe4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/publicsans/v5/ijwGs572Xtc6ZYQws9YVwllKVG8qX1oyOymuFpmJxAcufVotfzbj.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

html,
body {
   font-family: 'DM Sans' , sans-serif;
   font-size: 16px;
   margin: 0 auto;
  
}



header {
 
   background-color:  #333333; /*  hsl(300, 40%, 50%);*/
   opacity: 0.9;
   height: 6rem;
   color: white;
  
}



.title{
  
       
        text-align:  center;
        font-weight: bolder;
        font-size: 1.5rem;
        padding-top: 1.8rem;
        
     

}
nav {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    width: 95%;
    margin-top: 1.1rem;
  
}



.item{
 
    max-width: fit-content;
    background-color: rgb(136, 26, 136);
    word-spacing: 0.5rem;
   font-weight: bold;
    padding: 5px 5px;
    margin-right: 5px;
    border: 2px solid white;
   
    
}

.item:hover{
    background-color: orangered;
    
}
nav .current{
  
    background: linear-gradient( orangered, rgb(136, 26, 136));
}

nav a{
    color: #fff;

 }   
 nav a:hover{
    color: #fff;

 }   
 

 a {
    text-decoration: none;
    color: rgb(136, 26, 136);
  }

 a:hover {
    color: orangered;
  }



.container {
    
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1.0rem;
    }
    
    .border {
        
        box-shadow: 2px 4px 10px hsl(300, 1%, 58%) ;
       border-radius: 0.1rem;
    }
    

.blogging{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3rem;
    
    
}
.quer:hover{
    
    border-bottom : 10px solid hsl(300, 40%, 50%);
    box-shadow: none;
    
   
    
}
.quer {
  
    width: 36%;
   flex-shrink: 1;
   margin-bottom: 2rem;

    
}

.hochformat:hover{
    width: 27%;
    border-bottom : 10px solid hsl(300, 40%, 50%);
    box-shadow: none;
    
   
    
}
.hochformat {
    width: 25%;
    flex-shrink: 4;
    margin-bottom: 2rem;
}

.quadrat:hover{
  
    border-bottom : 10px solid hsl(300, 40%, 50%);
    box-shadow: none;
    
   
    
}

.quadrat {
    width: 33%;
    margin-bottom: 2rem;
}     



.article h2 {
    letter-spacing: 0.05rem;
    text-transform: capitalize;
    
}


.meta-data {
    margin: 0.1rem 0;
    padding: 0 0.3rem;

}

.topic {
    color:rgb(136, 26, 136);
}

.date {
   
    font-family: inherit;
      font-size: smaller;
      
     
     
  }


  .text {
    line-height: 1.6;
    padding: 0 0.3rem;
    max-height: 20rem;
    overflow: scroll;
    
}

.allgemeinSchrift{
    color: rgb(136, 26, 136);
    font-weight: 700;
    font-size: 1.3rem;
}

.überschrift {
    font-weight: bold;
}

.überschrift::before{
    content: '!';
    letter-spacing: 0.2rem;
    font-family:  'Arial Narrow Bold', serif;


}
.dot{
    
    display: inline-block;
    height: 5px;
    width: 5px;
    margin: 0 3px;
    border-radius: 50%;
  
   
    background-color: hsl(300, 40%, 50%);
 
                  
}


.btn{
  
  display: none;
  margin-left: 0.6rem;

   
    
}

.btn:hover{
    box-shadow: 1px 1px 3px orangered;
    border-radius: 10%;
}

 #edeka{
    color: rgba(241, 206, 6, 0.959);
    font-weight: 700;
    font-size: 1.3rem;
    
}





 video, img {
  
   width: 100%; 
   z-index:- 1;
}



.footer {
  margin-top: 2rem;
    background-color: indigo;
    opacity: 0.9;
    height: 6rem;
    color: white;
 }



.efg_bnt {
    text-align: center;
    padding-right: 1rem;
    font-weight: 400;
    
   
}



@media only screen and (max-width: 720px){

    
   header {
       background-color: hsl(300, 40%, 50%);
      
       
       
   }
   nav {
     position: unset;
      
   }
    nav h1 {
        font-size: 12px;
    }
    
    nav img {
        display: none;
    }
    .item{
       font-size: 0.9rem;
    }
   
 
  
    .container {
        margin: 0 3rem;
    }
    .blogging{
        margin-top: 2rem;
    }
    .quadrat, .quer, .hochformat , .hochformat:hover{
   
        width: 95%;
   }

      
        
    
    

    
       

}