html,
body {
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
   margin: 0 auto;
  
}



.main {

   background-color:indigo;
   opacity: 0.9;
   height: 6rem;
   color: white;
}

nav {
 display: flex;   
 align-items: center;
 justify-content: center;

 

}

.container .vielText{
    padding: 0.9rem;
    height: 30rem;
    overflow: scroll;
    
    border-bottom: 3px solid white;
   border-style: outset;
   border-radius: 0.3rem;
}
.container {

max-width: 960px;
margin: 0 auto;
padding-top: 1.0rem;


   
}

.container a {
    text-decoration: none;
    color:indigo;
  }

  .container a:hover {
    color: orangered;
  }

nav h1 {
    font-family: Georgia, serif;
    font-weight: 900;
    
}

nav img {
width: 11%;
height: 11%;
}
.blog-container{
   display: flex; 
  justify-content: space-between;
  align-content: center;

  flex-wrap: wrap;

   border: 1px solid white;
   
   padding: 2rem 0;
}

.blog-single {
    display: flex;
    padding: 2rem 0;
    justify-content: center;
    border: 1px solid white;
    align-content: space-around;
}

.blog{
   
    width: 45%;
    
    padding: 0.5rem;
    border-bottom: 3px solid white;
    border-style: outset;
    border-radius: 0.3rem;
    }



.single {
   
    display:flex;
  
    padding: 0.5rem ;
    justify-content: space-between;
  
    border-bottom: 3px solid white;
    border-style: outset;
    border-radius: 0.3rem;
  }

   
.item {
    display: flex;
   
    width: 33%;
}

.single .item1 {
    display:flex;
    width: 40%;
  
   
   

   
   
  
}
.single .item2 {
 display: flex;
 flex-wrap: wrap;
align-content: space-between;
    width: 58%;
   
   
   
  
}
 #edeka{
    color: rgba(241, 206, 6, 0.959);
    font-weight: 700;
    font-size: 2rem;
    
}
.edeka {
    font-weight: 700;
    font-size: 2rem;
}



.item2 .ueberschriften {
    
    line-height: 1.0;
   
}

.item2 .text {



}


.blog-single .source {
    text-align: right;
    margin-top: -1.2rem;
    padding-right: 0.2rem;
    font-size: smaller;
}

  
   


 
   



 video, img {
    width: 100%;
    height: 100%;
   
    
}



 .image{
    
  
  
}

#inDänemark {
 
 
   
   
}


.text {
    font-family: 'Libre Baskerville', sans-serif;
    line-height: 1.6;
    
  border: 1px solid white;
   padding-top: 0.2rem;
}

.date {
  width: 100%;
    font-family: inherit;
    font-size: smaller;
    border: solid 1px white;
    text-align: right;
    margin-top: 0.2rem;
    padding-right: 0.2rem;
}


.blog-single .blog .text {
   
   margin-top: 0.2rem;

}


.article {
    padding: 2rem 0;
    word-spacing: 0.12rem;
   line-height: 1.5;

    
}

.article h2 {
    letter-spacing: 0.05rem;
    text-transform: capitalize;
    
}
        

.footer {
  margin-top: 2rem;
    background-color: indigo;
    opacity: 0.9;
    height: 6rem;
    color: white;
 }



.efg_bnt {
    text-align: center;
    padding-right: 1rem;
    font-weight: 400;
    
   
}


@media only screen and (max-width: 480px){
    nav h1 {
        font-size: 12px;
    }
    nav img {
        display: none;
    }
    .container {
        margin: 0 3rem;
    }
    .blog{
   
        width: 95%;}

    .item1, .item2{
         
         width: 95%;
     }   
    

    
       

}